<style media="screen">

 html {
   background: grey;
   display: block;
   height: 100%;
 }

 body {
   width: 100%;
   background: url(images/гипотеза15.png);
   display: block;
   height: 5307px;
   margin: 0 auto;
 }
 .container {
   width: 100%;
   height: 5307px;
   background: #ECA498;
   position: relative;
   padding: 0;
   overflow: hidden;
 }
 .Rectangle1 {
   width: 2425.89px;
   height: 300px;
   left: -200.49px;
   top: 945px;
   background: #F17A4C;
   position: relative;

   overflow: hidden;
   transform: rotate(25.61deg);
   z-index: 12;
 }
 .Rectangle2 {
   position: absolute;
   width: 2125.89px;
   height: 300px;
   left: -363px;
   top: 260px;
   background: #282828;
   transform: rotate(-10.15deg);
   z-index: 9;
 }
 .Rectangle3 {
   position: absolute;
   width: 1587.84px;
   height: 185.02px;
   left: -263px;
   top: -100.67px;
   background: #5985C2;
   transform: rotate(-35.66deg);
   z-index: 1;
 }
 .Rectangle4 {
   position: absolute;
   width: 2125.89px;
   height: 300px;
   /* left: 208px; */
   right: -910px;
   top: 700px;
   background: #5985C2;
   transform: rotate(78.16deg);
   z-index: 6;
 }
 .Rectangle5 {
   position: absolute;
   width: 2125.89px;
   height: 306.73px;
   left: -300px;
   top: 205px;
   background: #F17A4C;
   transform: rotate(40.6deg);
   z-index: 5;
 }
 .Rectangle6 {
   position: absolute;
   width: 1587.84px;
   height: 185.02px;
   left: -50px;
   top: 1230px;
   background: #F17A4C;
   transform: rotate(45.13deg);
 }
 .Rectangle7 {
   position: absolute;
   width: 2125.89px;
   height: 300px;
   left: -250px;
   top: 1279px;
   background: #282828;
   transform: rotate(-10.15deg);
   z-index: 6;
 }
 .Rectangle8 {
   position: absolute;
   width: 2125.89px;
   height: 361.81px;
   left: -265.43px;
   top: 1672px;
   background: #5985C2;
   transform: rotate(8.04deg);
   z-index: 7;
 }
 .Rectangle9 {
   position: absolute;
   width: 2125.89px;
   height: 300px;
   left: -363px;
   top: 2026px;
   background: #F17A4C;
   transform: rotate(-13.14deg);
   z-index: 9;
 }
 .Rectangle10 {
   position: absolute;
   width: 2461.65px;
   height: 271.16px;
   left: -470.44px;
   top: 2840px;
   background: #5985C2;
   transform: rotate(44.35deg);
   z-index: 4;
 }
 .Rectangle11 {
   position: absolute;
   width: 3576.08px;
   height: 287.82px;
   /* left: -1103px; */
   right: -1030px;
   top: 3471px;
   background: #282828;
   transform: rotate(57.6deg);
   z-index: 5;
 }
 .Rectangle12 {
   position: absolute;
   width: 2372.9px;
   height: 300px;
   left: -444.1px;
   top: 2873px;
   background: #F17A4C;
   transform: rotate(-38.2deg);
   z-index: 7;
 }
 .Rectangle13 {
   position: absolute;
   width: 2152.83px;
   height: 163.93px;
   left: -167.82px;
   top: 2909px;
   background: #282828;
   transform: rotate(12.75deg);
 }
 .Rectangle14 {
   position: absolute;
   width: 2372.9px;
   height: 300px;
   left: -211.14px;
   top: 4405px;
   background: #F17A4C;
   transform: rotate(25.44deg);
   z-index: 9;
 }
 .Rectangle15 {
   position: absolute;
   width: 2461.65px;
   height: 271.16px;
   left: -876.44px;
   top: 4470px;
   background: #5985C2;
   transform: rotate(44.35deg);
   z-index: 3;
 }
 .Rectangle16 {
   position: absolute;
   width: 2461.65px;
   height: 271.16px;
   /* left: -132px; */
   right: -890px;
   top: 4415.92px;
   background: #5985C2;
   transform: rotate(-68.18deg);
   z-index: 4;
 }
 .Rectangle17 {
   position: absolute;
   width: 2152.83px;
   height: 163.93px;
   left: -431px;
   top: 4109px;
   background: #282828;
   transform: rotate(-38.36deg);
 }
 .Rectangle18 {
   position: absolute;
   width: 1440px;
   height: 244px;
   left: 0px;
   top: 5063px;
   background: #5985C2;
   z-index: 14;
 }
 .Rectangle19 {
   display: none;
 }
 .Rectangle20 {
   display: none;
 }
 .Rectangle21 {
   display: none;
 }
 .Rectangle22 {
   display: none;
 }
 .wave3 {
   display: none;
 }
 .Rectangle23 {
   display: none;
 }
 .Rectangle24 {
   display: none;
 }
 .Rectangle25 {
   display: none;
 }
 .Rectangle26 {
   display: none;
 }
 .Rectangle27 {
   display: none;
 }
 .Rectangle28 {
   display: none;
 }
 .Rectangle29 {
   display: none;
 }
 @font-face {
  font-family: 'Fugue';
  src: url('fonts/fugue_regular.eot');
  src: local('☺'), url('fonts/fugue_regular.woff') format('woff'), url('fonts/fugue_regular.ttf') format('truetype'), url('fonts/fugue_regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
 }
 @font-face {
  font-family: 'Bebas';
  src: url('fonts/BebasNeue Regular.eot');
  src: local('☺'), url('fonts/BebasNeue Regular.woff') format('woff'), url('fonts/BebasNeue Regular.ttf') format('truetype'), url('fonts/BebasNeue Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
 }
 @font-face {
  font-family: 'Lastochka';
  src: url('fonts/ofont.ru_Lastochka.eot');
  src: local('☺'), url('fonts/ofont.ru_Lastochka.woff') format('woff'), url('fonts/ofont.ru_Lastochka.ttf') format('truetype'), url('fonts/ofont.ru_Lastochka.svg') format('svg');
  font-weight: normal;
  font-style: normal;
 }
 @font-face {
  font-family: 'MullerBlack';
  src: url('fonts/Fontfabric - MullerBlack.eot');
  src: local('☺'), url('fonts/Fontfabric - MullerBlack.woff') format('woff'), url('fonts/Fontfabric - MullerBlack.ttf') format('truetype'), url('fonts/Fontfabric - MullerBlack.svg') format('svg');
  font-weight: normal;
  font-style: normal;
 }
 @font-face {
  font-family: 'Rockwell';
  src: url('fonts/13082.eot');
  src: local('☺'), url('fonts/13082.woff') format('woff'), url('fonts/13082.ttf') format('truetype'), url('fonts/13082.svg') format('svg');
  font-weight: normal;
  font-style: normal;
 }
 @font-face {
  font-family: 'Intro';
  src: url('fonts/ofont.ru_Intro-2.eot');
  src: local('☺'), url('fonts/ofont.ru_Intro-2.woff') format('woff'), url('fonts/ofont.ru_Intro-2.ttf') format('truetype'), url('fonts/ofont.ru_Intro-2.svg') format('svg');
  font-weight: normal;
  font-style: normal;
 }

 .row1 {
   position: absolute;
   width: 4000px;
   height: 325.52px;
   top: 30px;
   font-family: 'Fugue';
   font-style: normal;
   font-weight: normal;
   font-size: 190px;
   line-height: 236px;
   color: #EDE6E0;
   z-index: 10;

 }
 .row2 {
   position: absolute;
   width: 1925.91px;
   height: 325.52px;
   top: 5px;
   font-family: Caveat;
   font-style: normal;
   font-weight: normal;
   font-size: 120px;
   line-height: 151px;
   color: #282828;
   z-index: 1;
 }
 .row3 {
   position: absolute;
   width: 4000px;
   height: 325.52px;
   top: 20px;
   font-family: 'IBM Plex Serif', serif;
   font-style: normal;
   font-weight: normal;
   font-size: 200px;
   line-height: 260px;
   color: #EDE6E0;
   z-index: 5;
   animation: row-move3 10s linear infinite;
 }
 .row4 {
   position: absolute;
   width: 3000px;
   height: 325.52px;
   top: 25px;
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 200px;
   line-height: 244px;
   color: #282828;
   z-index: 6;
 }
 .row5 {
   display: block;
   position: absolute;
   color: #EDE6E0;
   width: 3800.91px;
   height: 325.52px;
   top: 65px;
   font-family: 'Bebas';
   font-size: 220px;
   line-height: 220px;
   animation: row-move5 7s linear infinite;
 }
 .row6 {
   position: absolute;
   width: 3625.91px;
   height: 325.52px;
   top: 20px;
   font-family: American Typewriter;
   font-style: normal;
   font-weight: normal;
   font-size: 200px;
   line-height: 231px;
   color: #EDE6E0;
   z-index: 6;
 }
 .row7 {
   position: absolute;
   width: 1925.91px;
   height: 325.52px;
   top: 20px;
   font-family: 'Lastochka';
   font-style: italic;
   font-weight: normal;
   font-size: 120px;
   line-height: 151px;
   color: #EDE6E0;
 }
 .row8 {
   position: absolute;
   width: 5025.91px;
   height: 325.52px;
   top: 20px;
   font-family: 'MullerBlack';
   font-style: normal;
   font-weight: normal;
   font-size: 288px;
   line-height: 360px;
   color: #282828;
   z-index: 7;
 }
 .row9 {
   position: absolute;
   width: 3725.91px;
   height: 325.52px;
   top: 10px;
   font-family: 'Rockwell';
   font-style: normal;
   font-weight: normal;
   font-size: 200px;
   line-height: 240px;
   color: #EDE6E0;
   z-index: 10;
 }
 .row10 {
   position: absolute;
   width: 4900px;
   height: 325.52px;
   top: 1px;
   font-family: 'Jura', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 200px;
   line-height: 237px;
   color: #EDE6E0;
   z-index: 8;
 }
 .row11 {
   position: absolute;
   width: 4050.84px;
   height: 325.52px;
   top: 10px;
   font-family: 'Intro';
   font-style: normal;
   font-weight: normal;
   font-size: 200px;
   line-height: 250px;
   color: #282828;
   z-index: 4;
 }
 .row12 {
   position: absolute;
   width: 4205.85px;
   height: 325.52px;
   top: 28px;
   font-family: 'Philosopher', sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 200px;
   line-height: 200px;
   color: #EDE6E0;
   z-index: 8;
   animation: row-move12 7s linear infinite;
 }
 .row13 {
   position: absolute;
   width: 3525.91px;
   height: 325.52px;
   top: 25px;
   font-family: 'MullerBlack';
   font-style: normal;
   font-weight: 900;
   font-size: 100px;
   line-height: 100px;
   color: #EDE6E0;
 }
 .row14 {
   position: absolute;
   width: 4305.85px;
   height: 325.52px;
   top: 15px;
   font-family: 'Kelly Slab', cursive;
   font-style: normal;
   font-weight: normal;
   font-size: 200px;
   line-height: 242px;
   color: #EDE6E0;
   z-index: 9;
 }
 .row15 {
   position: absolute;
   width: 2550.84px;
   height: 325.52px;
   top: -10px;
   font-family: 'Pacifico', cursive;
   font-style: italic;
   font-weight: normal;
   font-size: 150px;
   line-height: 245px;
   color: #282828;
   z-index: 4;
 }
 .row16 {
   position: absolute;
   width: 4250.84px;
   height: 325.52px;
   top: 30px;
   font-family: 'Press Start 2P', cursive;
   font-style: normal;
   font-weight: normal;
   font-size: 200px;
   line-height: 200px;
   color: #282828;
   z-index: 4;
 }
 .row17 {
   position: absolute;
   width: 3525.91px;
   height: 325.52px;
   top: 25px;
   font-family: 'MullerBlack';
   font-style: normal;
   font-weight: 900;
   font-size: 100px;
   line-height: 100px;
   color: #EDE6E0;
 }
 .wave1 {
   position: absolute;
   width: 4279.69px;
   left: -1180px;
   top: 503px;
   transform: rotate(131.62deg);
   z-index: 7;
   /* opacity: .2; */
 }
 .wavve1 {
   position: absolute;
   width: 4279.69px;
   z-index: 7;
   transition:         transform 1.5s ease-in-out;
   /* opacity: .2; */
 }
 .wavve1:hover {
   transform: translate(900px);
 }
 .wave2 {
   position: absolute;
   width: 4279.69px;
   left: -1180px;
   top: 3400px;
   transform: rotate(-14.26deg);
   z-index: 8;
   /* opacity: .2; */
 }
 .wavve2 {
   position: absolute;
   width: 5279.69px;
   z-index: 8;
   transition:         transform 1.5s ease-in-out;
   /* opacity: .2; */
 }
 .wavve2:hover {
   transform: translate(-1200px);
 }
 .chess1 {
   position: absolute;
   width: 2165.96px;
   height: 273.1px;
   left: -250px;
   top: 2320px;
   transform: rotate(25.38deg);
   z-index: 6;
 }
 .chesgs1 {
   position: absolute;
   width: 5565.96px;
   height: 273.1px;
   z-index: 6;
   transition:         transform 3s ease-in-out;
   /* animation: Move 7s linear infinite; */
 }
 .chesgs1:hover {
   transform: translate(-1000px);
 }
 .chess2 {
   position: absolute;
   width: 2165.96px;
   height: 273.1px;
   left: -250px;
   top: 4520px;
   transform: rotate(-21.28deg);
   z-index: 6;
 }
 .chesgs2 {
   position: absolute;
   width: 5543.13px;
   height: 273.1px;
   z-index: 6;
   transition:         transform 3s ease-in-out;
   /* animation: Move 7s linear infinite; */
 }
 .chesgs2:hover {
   transform: translate(-1000px);
 }
 .Futer1 {
   position: absolute;
   width: 150px;
   height: 200px;
   left: 135px;
   top: 5105px;
   font-family: 'Fira Code', monospace;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 30px;
   color: #282828;
   z-index: 15;
 }
 .Futer2 {
   position: absolute;
   width: 203px;
   height: 154px;
   left: 317px;
   top: 5105px;
   font-family: 'Fira Code', monospace;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 30px;
   color: #282828;
   z-index: 15;
 }
 .Futer3 {
   position: absolute;
   width: 203px;
   height: 100px;
   left: 531px;
   top: 5105px;
   font-family: 'Fira Code', monospace;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 30px;
   color: #282828;
   z-index: 15;
 }
 .Futer4 {
   position: absolute;
   width: 203px;
   height: 92px;
   left: 734px;
   top: 5105px;
   font-family: 'Fira Code', monospace;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 30px;
   color: #282828;
   z-index: 15;
 }
 .Art {
   position: absolute;
   width: 168px;
   height: 167.99px;
   /* left: 1150px; */
   right: 120px;
   top: 5101px;
   z-index: 15;
 }
 .krug {
  border-radius: 50%;
          transition:         transform 2s ease-in-out;
}
.krug:hover {
          transform: rotate(360deg);

}
 @keyframes row-move1 {
   0% {right: -2190px;}
   100% {right: -460px;}
 }
 .row-move1 {
   width: 4000px;
   height: 100px;
   display: block;
   position: absolute;
   animation: row-move1 7s linear infinite;
 }
 @keyframes row-move2 {
   0% {right: -890px;}
   100% {right: 580px;}
 }
 .row-move2 {
   width: 2400px;
   height: 70px;

   animation: row-move2 7s linear infinite;
 }
 @keyframes row-move5 {
   0% {right: -1390px;}
   100% {right: 500px;}
 }
 .rove-move5:hover {
 animation-play-state: paused;
 }
 @keyframes row-move3 {
   0% {right: -1390px;}
   100% {right: 550px;}
 }
 @keyframes row-move4 {
   0% {right: -1400px;}
   100% {right: 105px;}
 }
 .row-move4 {
 animation: row-move4 7s linear infinite;
 }
 @keyframes row-move7 {
   0% {right: -600px;}
   100% {right: 33px;}
 }
 .row-move7 {
 animation: row-move7 7s linear infinite;
 }
  @keyframes row-move6 {
    0% {right: -1300px;}
    100% {right: 480px;}
  }
  .row-move6 {
  animation: row-move6 7s linear infinite;
  }
  @keyframes row-move8 {
    0% {right: -2200px;}
    100% {right: 180px;}
  }
  .row-move8 {
  animation: row-move8 7s linear infinite;
  }
  @keyframes row-move9 {
    0% {right: -2000px;}
    100% {right: -166px;}
  }
  .row-move9 {
  animation: row-move9 7s linear infinite;
  }
  @keyframes row-move11 {
    0% {right: -2000px;}
    100% {right: 55px;}
  }
  .row-move11 {
  animation: row-move11 7s linear infinite;
  }
  @keyframes row-move10 {
    0% {right: -1750px;}
    100% {right: 855px;}
  }
  .row-move10 {
  animation: row-move10 7s linear infinite;
  }
  @keyframes row-move12 {
    0% {right: -1800px;}
    100% {right: -265px;}
  }
  .row-move12:hover {
  animation-play-state: paused;
  }
  @keyframes row-move13 {
    0% {right: -1750px;}
    100% {right: -845px;}
  }
  .row-move13 {
  animation: row-move13 7s linear infinite;
  }
  @keyframes row-move14 {
    0% {right: -2150px;}
    100% {right: 145px;}
  }
  .row-move14 {
  animation: row-move14 7s linear infinite;
  }
  @keyframes row-move15 {
    0% {right: -850px;}
    100% {right: 345px;}
  }
  .row-move15 {
  animation: row-move15 7s linear infinite;
  }
  @keyframes row-move16 {
    0% {right: -2550px;}
    100% {right: 445px;}
  }
  .row-move16 {
  animation: row-move16 10s linear infinite;
  }
  @keyframes row-move17 {
    0% {right: -1550px;}
    100% {right: -655px;}
  }
  .row-move17 {
  animation: row-move17 7s linear infinite;
  }
  /* @keyframes pove {
    0% {right: -50px;}
    100% {right: 220px;}
  }
  .pove {
  animation: pove 7s linear infinite;
  }
  .pove:hover {
  animation: pove 2s linear infinite;
  } */


</style>
